<a href="https://colab.research.google.com/github/PrabhakarAlagarsamy/machine-learning/blob/master/Python/python-datatype-list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [0]:
#list of words that are longer than n from a given list of words
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

In [0]:
#print a specified list after removing the 0th, 4th and 5th elements
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [0]:
#generate a 3*4*6 3D array whose each element is *
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [0]:
#generate all permutations of a list
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [0]:
#difference between the two lists
list1 = [1, 2, 3, 4]
list2 = [1, 2]
print(list(set(list1) - set(list2)))

[3, 4]

In [0]:
#access the index of a list
nums = [5, 15, 35, 8, 98]
for index, val in enumerate(nums):
    print(index, val)

0 5
1 15
2 35
3 8
4 98

In [0]:
#convert a list of characters into a string
s = ['a', 'b', 'c', 'd']
str1 = ''.join(s)
print(str1)

abcd

In [0]:
#find the index of an item in a specified list
num =[10, 30, 4, -6]
print(num.index(30))

1

In [0]:
#flatten a shallow list
import itertools
original_list = [[2,4,3],[1,5,6], [9], [7,9,0]]
new_merged_list = list(itertools.chain(*original_list))
print(new_merged_list)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [0]:
#frequency of the elements in a list
import collections
my_list = [10,10,10,10,20,20,20,20,40,40,50,50,30]
ctr = collections.Counter(my_list)
print("Frequency of the elements in the List : ",ctr)

Frequency of the elements in the List :  Counter({10: 4, 20: 4, 40: 2, 50: 2, 30: 1})

In [0]:
from itertools import combinations
def sub_lists(my_list):
	subs = []
	for i in range(0, len(my_list)+1):
	  temp = [list(x) for x in combinations(my_list, i)]
	  if len(temp)>0:
	    subs.extend(temp)
	return subs

l2 = ['X', 'Y', 'Z']
print("Sublists of the said list:")
print(sub_lists(l2))

Sublists of the said list:
[[], ['X'], ['Y'], ['Z'], ['X', 'Y'], ['X', 'Z'], ['Y', 'Z'], ['X', 'Y', 'Z']]

In [0]:
#create a list by concatenating a given list which range goes from 1 to n
my_list = ['p', 'q']
n = 4
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

In [0]:
#common items from two lists
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"
print(set(color1) & set(color2))

{'Green', 'White'}

In [0]:
#convert a list of multiple integers into a single integer
L = [11, 33, 50]
x = int("".join(map(str, L)))
print("Single Integer: ",x)

Single Integer:  113350

In [0]:
#split a list based on first character of word
from itertools import groupby
from operator import itemgetter

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

In [0]:
#find missing and additional values in two lists
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
print('Missing values in second list: ', ','.join(set(list1).difference(list2)))
print('Additional values in second list: ', ','.join(set(list2).difference(list1)))

Missing values in second list:  c,a,b
Additional values in second list:  h,g